:root{

    /* FONT */
    --font-family: 'Space Mono', monospace;
    --font-size: 15px;
    --font-weight-bold: 700;

    /* COLORS */

    /* Background */
    --bg-container: #F6F8FF;
    --bg-content: #FEFEFE;

    /* Text */
    --text: #4B6A9B;
    --text-alt: #2B3442;

    /* Button */
    --btn: #0079FF;
    --btn-hover: #60ABFF;

    /* Others */
    --shadow-active: 0px 4px 4px 0px rgba(0,0,0,0.25);
    --shadow-inactive: 0px 16px 30px -10px rgba(0,0,0,0.2);
    --icon-bg: brightness(100%);
    --width-container: 50vw;

}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-size: var(--font-size);
    background: var(--bg-container);
}


.page-container {
    width: var(--width-container);
}


.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 30px;
    justify-content: space-between;
    padding: 0;
    list-style: none;
}


.nav-item {
    width: fit-content;
}

.nav-item--width_100 {
    width: 100%;
}

.nav-item__logo {
    font-size: 1.8rem;
    text-decoration: none;
    font-weight: var(--font-weight-bold);
    color: var(--text);
}


.button-element {
    align-items: center;
    display: flex;
    gap: 12px;
    font-family: inherit;
    width: 120px;
    height: 45px;
    color: #fff;
    border: 0;
    border-radius: 12px;
    background: var(--btn);
}

.button-element:hover {
    cursor: pointer;
    background: var(--btn-hover);
}

.button--bg_transparent {
    width: fit-content;
    background: transparent;
    color: var(--text);
}

.button--bg_transparent:hover {
    background: transparent;
}

.button-element__title {
    font-size: 1rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);
}


.search-form {
    display: flex;
    gap: 10px;
    padding: 10px 10px 10px 25px;
    border-radius: 20px;
    background: var(--bg-content);
    box-shadow: var(--shadow-active);
}

.search-form__label {
    display: flex;
    width: fit-content;
    height: 45px;
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: center;
}

.search-form__input {
    width: 80%;
    font-family: inherit;
    font-size: 1rem;
    border: 0;
    color: var(--text);
}

.search-form__input:focus {
    outline: none;
}

.search-form__button-submit {
    display: inline;
}


.profile-container {
    display: grid;    
    padding: 35px;
    grid-template-columns: 20% 75%;
    column-gap: 5%;
    border-radius: 15px;
    background: var(--bg-content);
    box-shadow: var(--shadow-active);
}

.profile-image {
    width: 100%;
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    border-radius: 50%;
}

.profile-user-info {
    display: flex;
    grid-column: 2 / span 1;
}


.profile-username {
    width: 50%;
}

.profile-username__name {
    margin-top: 0;
    margin-bottom: 0;    
    font-size: 1.6rem;
    color: var(--text-alt);
}

.profile-username__user {
    margin: 0;
    font-weight: normal;
    color: var(--btn);    
}

.profile-user-info__registration-date {
    width: 50%;
    text-align: center;
    color: var(--text);
}


.profile-biography {
    grid-column: 2 / span 1;
    color: var(--text);
}


.profile-stats {
    display: flex;
    justify-content: space-evenly;
    grid-column: 2 / span 1;
    border-radius: 15px;
    background: var(--bg-container);
}


.profile-stats__stat {
    width: 20%;
    color: var(--text);
}

.profile-stats__number {
    font-size: 1.5rem;
    font-weight: var(--font-weight-bold);
    color: var(--text-alt);
}


.profile-contact {
    display: flex;
    flex-wrap: wrap;
    grid-column: 2 / span 1;
    column-gap: 8%;
    margin-top: 30px
}

.profile-contact__item {
    width: 46%;
    margin: 5px 0;
    color: var(--text);
}

.profile-contact__item--disabled {
    opacity: 0.5;
}

.profile-contact__item-icon {
    padding-right: 4px;
}


.attribution-container {
    width: 50%;
    position: absolute;
    text-align: center;
    bottom: 10px;
}

@media only screen and (max-width: 1390px) {
    .attribution-container {
        width: 100%;
        position: relative;
        text-align: center;
        bottom: -50px;
    }
}